
<div class="container-fluid Main-wrapper">
  <div class="row" padding-right="30px">
          <div class="col-sm col2-wrapper" >
              <div class="col-sm firstsection">
                 <b style="color: brown">ATO</b>
                  <select class="select1" ></select>
                  <b style="color: brown; padding-left:25px">Date</b>
                  <select class="select2"></select>
                   <b style="color: brown; padding-left:25px">Sector</b>
                  <select class="select2"></select>
              </div>
              <div class="col-sm">
                  <b style="color: brown">Mission</b>
                  <select class="select3"></select>
                  <b style="color: brown; padding-left:25px">Task</b>
                  <select class="select4"></select>
                  <b style="color: brown; padding-left:25px">UAV</b>
                  <select class="select4"></select>
              </div>

          </div>

      <div class="col-sm col1-wrapper">
          <div class="container" padding-right="50px">
              <div style="padding:10px">
                   <button name="human"> Coordinates of Human Detection</button>
                  <button> Telemetry Data</button>
                  <button> Change Detection</button>
              </div>
              <div style="padding:10px">
                 <button >Coordinates of Feature Detection</button>
                 <button  (click)='onDroneStatus()'>Drone Status</button>
                 <button>Suspected Movement</button>
              </div>   
          </div>
      </div>

      
  </div>

  </div>



 <!--     <div class="row">
          <div class="col-md leftcontent">
          </div>
          <div class="col-md rightcontent"></div>
      </div>-->

 <!-- <div class="leftcontent-div">

  </div>

  <div class="rightcontent-div">
          <div class="row">
              <div class="col-md">
                      <video width="700" height="340" controls>
                              <source src="https://r5---sn-cvh76nes.googlevideo.com/videoplayback?expire=1568829955&ei=ox2CXafMMISywQH8qJ6IDA&ip=154.16.100.123&id=o-AIBlWiYvH4F9bpzSSlRWgZsTArPTTzH1kPw4GKyWgWnY&itag=18&source=youtube&requiressl=yes&pcm2=yes&mime=video%2Fmp4&gir=yes&clen=12442826&ratebypass=yes&dur=269.142&lmt=1566922348464053&fvip=5&c=WEB&txp=4531432&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cpcm2%2Cmime%2Cgir%2Cclen%2Cratebypass%2Cdur%2Clmt&sig=ALgxI2wwRQIgSN6rrMrIzy44rx18zDn6wJT6TWk0tTbpTNITT7k_U9gCIQCXEuumQOuI5zSAtEuTmFyirdzmK-SQljMMA0HXj6VZyA==&title=Arijit%20Singh:%20Pachtaoge%20%7C%20Vicky%20Kaushal,%20Nora%20Fatehi%20%7CJaani,%20B%20Praak,%20Arvindr%20Khaira%20%7C%20Bhushan%20Kumar&cms_redirect=yes&mip=14.98.139.234&mm=31&mn=sn-cvh76nes&ms=au&mt=1568812774&mv=u&mvi=4&pl=24&lsparams=mip,mm,mn,ms,mv,mvi,pl&lsig=AHylml4wRgIhAMTy7bO4cDT5dNeA5BYasFeTykcQCQ_X7JjK72T0U3Z1AiEAgK8M0-mbj4NmmmJ2VP9XZQEzSxNqyGEPy8BuJQUZU68=" type="video/mp4">

                            Your browser does not support the video tag.
                            </video>
              </div>
              <div class="col-md">
                      <video width="700 " height="340" controls>
                              <source src="https://www.youtube.com/watch?v=PVxc5mIHVuQ" type="video/mp4">

                            Your browser does not support the video tag.
                            </video>
              </div>
          </div>
          <div class="row">
              <div class="col-md">
                      <video width="700" height="340" controls>
                              <source src="movie.mp4" type="video/mp4">
                              <source src="movie.ogg" type="video/ogg">
                            Your browser does not support the video tag.
                            </video>
              </div>
              <div class="col-md">
                      <video width="700" height="340" controls>
                              <source src="movie.mp4" type="video/mp4">
                              <source src="movie.ogg" type="video/ogg">
                            Your browser does not support the video tag.
                            </video>
              </div>
          </div>

  </div>-->

<div class="container-fluid side-container">
  <div class="row"  >
   <!-- <div class="col-lg-2">
      <div class="col-md-2">-->
    
        <div ng-switch="name">
                <div ng-switch-when="onHumanDetection()">
                    <p *ngFor="let data of data">
                        <b class="Bold-class">
                          Name: {{ data.featureName }} Latitude: {{ data.featureLat }} Longitude:{{data.featureLong}}
                        </b>
                        </p>
                </div>
                <div ng-switch-when="onDroneStatus()">
                    <p *ngFor="let data of data">
                        <b class="Bold-class">
                          Battery: {{data.battery}} Signal: {{data.signalstrength}}
                        </b>
                        </p>
                </div>
        </div>

     <!-- </div>
    </div>-->
  </div>
</div>

<div class="container-fluid grid-container">
  <div class="row firstrow justify-content-around">
    
    
        <div id="mapId" style="width:495px ; height: 285px "></div>
          
            <video width="495" height="285" controls>
              <source src="https://r5---sn-cvh76nek.googlevideo.com/videoplayback?expire=1569408372&ei=FPGKXbm7KZbHigTB4KToCg&ip=154.16.100.123&id=o-AACxDQhw9EHVpZ0IOkjo3tWdNr1lQhavdKbqaBQ08Mqw&itag=18&source=youtube&requiressl=yes&mime=video%2Fmp4&gir=yes&clen=4821662&ratebypass=yes&dur=197.485&lmt=1536878741365362&fvip=6&c=WEB&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cmime%2Cgir%2Cclen%2Cratebypass%2Cdur%2Clmt&sig=ALgxI2wwRQIgXfNzagqiBwDIJE6OraB7zToC0F4qPw4IdW3OeDzWUEACIQDwNfuPuP-XWGfYMdnup4qufMVr0a2Fpt8KWV069pjjgQ==&title=Lauv%20-%20I%20Like%20Me%20Better%20%5BOfficial%20Audio%5D&cms_redirect=yes&mip=14.98.139.234&mm=31&mn=sn-cvh76nek&ms=au&mt=1569386331&mv=u&mvi=4&pl=24&lsparams=mip,mm,mn,ms,mv,mvi,pl&lsig=AHylml4wRQIhAJpNGTl2klGElNRNmXZeFa9lzLGqQjcWRMgEQ9YBk2qdAiB3ykyrI-EBbm0nuvD0JXlKG4bWYP4455XHI07rgxgZjA==" type="video/mp4">
              
            Your browser does not support the video tag.
            </video>
          
  </div>

        
  <div class="row secondrow justify-content-around">
    
          <div id="mapId1" style="width:495px ; height: 285px "></div>
          <video  width="495" height="285" controls>
              <source src="movie.mp4" type="video/mp4">
              <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
            </video>  
     
          <!--<img width="495" height="300" src="/download.jpeg">-->
          
  </div>
</div>
