
<div class="container-fluid Main-wrapper">
  <div class="row" padding-right="30px">
          <div class="col-sm col2-wrapper" >
              <div class="col-sm firstsection">
                 <b style="color: brown">ATO</b>
                  <select class="select1" ></select>
                  <b style="color: brown; padding-left:30px">Mission</b>
                  <select class="select2"></select>
              </div>
              <div class="col-sm second-section">
                  <b style="color: brown">Date time</b>
                  <select class="select3"></select>
                  <b style="color: brown; padding-left:30px">Task</b>
                  <select class="select4"></select>
              </div>

          </div>

      <div class="col-sm col1-wrapper">
          <div class="container" padding-right="50px">
              <div style="padding:10px">
                  <button> Coordinates of Human Detection</button>
                  <button> Telemetry Data</button>
                  <button> Change Detection</button>
              </div>
              <div style="padding:10px">
                 <button>Coordinates of Feature Detection</button>
                 <button>Drone Status</button>
                 <button>Suspected Movement</button>
              </div>   
          </div>
      </div>

      
  </div>

  </div>



 <!--     <div class="row">
          <div class="col-md leftcontent">
          </div>
          <div class="col-md rightcontent"></div>
      </div>-->

 <!-- <div class="leftcontent-div">

  </div>

  <div class="rightcontent-div">
          <div class="row">
              <div class="col-md">
                      <video width="700" height="340" controls>
                              <source src="https://r5---sn-cvh76nes.googlevideo.com/videoplayback?expire=1568829955&ei=ox2CXafMMISywQH8qJ6IDA&ip=154.16.100.123&id=o-AIBlWiYvH4F9bpzSSlRWgZsTArPTTzH1kPw4GKyWgWnY&itag=18&source=youtube&requiressl=yes&pcm2=yes&mime=video%2Fmp4&gir=yes&clen=12442826&ratebypass=yes&dur=269.142&lmt=1566922348464053&fvip=5&c=WEB&txp=4531432&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cpcm2%2Cmime%2Cgir%2Cclen%2Cratebypass%2Cdur%2Clmt&sig=ALgxI2wwRQIgSN6rrMrIzy44rx18zDn6wJT6TWk0tTbpTNITT7k_U9gCIQCXEuumQOuI5zSAtEuTmFyirdzmK-SQljMMA0HXj6VZyA==&title=Arijit%20Singh:%20Pachtaoge%20%7C%20Vicky%20Kaushal,%20Nora%20Fatehi%20%7CJaani,%20B%20Praak,%20Arvindr%20Khaira%20%7C%20Bhushan%20Kumar&cms_redirect=yes&mip=14.98.139.234&mm=31&mn=sn-cvh76nes&ms=au&mt=1568812774&mv=u&mvi=4&pl=24&lsparams=mip,mm,mn,ms,mv,mvi,pl&lsig=AHylml4wRgIhAMTy7bO4cDT5dNeA5BYasFeTykcQCQ_X7JjK72T0U3Z1AiEAgK8M0-mbj4NmmmJ2VP9XZQEzSxNqyGEPy8BuJQUZU68=" type="video/mp4">

                            Your browser does not support the video tag.
                            </video>
              </div>
              <div class="col-md">
                      <video width="700 " height="340" controls>
                              <source src="https://www.youtube.com/watch?v=PVxc5mIHVuQ" type="video/mp4">

                            Your browser does not support the video tag.
                            </video>
              </div>
          </div>
          <div class="row">
              <div class="col-md">
                      <video width="700" height="340" controls>
                              <source src="movie.mp4" type="video/mp4">
                              <source src="movie.ogg" type="video/ogg">
                            Your browser does not support the video tag.
                            </video>
              </div>
              <div class="col-md">
                      <video width="700" height="340" controls>
                              <source src="movie.mp4" type="video/mp4">
                              <source src="movie.ogg" type="video/ogg">
                            Your browser does not support the video tag.
                            </video>
              </div>
          </div>

  </div>-->

<div class="container-fluid side-container">
  <div class="row" >
   <!-- <div class="col-lg-2">
      <div class="col-md-2">-->
    
        <p style=" color:white">this is the analysis div</p>

     <!-- </div>
    </div>-->
  </div>
</div>

<div class="container-fluid grid-container">
  <div class="row firstrow justify-content-around">
    
    
        <div id="mapId" style="width:495px ; height: 300px ; "></div>
          
            <video width="495" height="300" controls>
              <source src="https://r2---sn-bu2a-5hql.googlevideo.com/videoplayback?expire=1569340384&ei=gOeJXbWVMMrUD7jJuOgP&ip=154.16.100.123&id=o-AJLSYUlJcJLN2oCTGfQJCo6vOQZN19c2aaZjoVJkPFQJ&itag=18&source=youtube&requiressl=yes&mime=video%2Fmp4&gir=yes&clen=14178318&ratebypass=yes&dur=237.331&lmt=1566104954747725&fvip=6&c=WEB&txp=5311222&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cmime%2Cgir%2Cclen%2Cratebypass%2Cdur%2Clmt&sig=ALgxI2wwRQIgZScbS-StqiWlL6ulLxRjIqiQQNtNYIHVTLjDKYzkNacCIQCSraSOOJVW3QKeoZHr2324ht25v_9KaXvPMugukzwnOQ==&title=Coldplay%20-%20Hymn%20For%20The%20Weekend%20-%20Alan%20Walker%20Remix%20-%20(Music%20Video)&cms_redirect=yes&mip=103.238.104.207&mm=31&mn=sn-bu2a-5hql&ms=au&mt=1569318741&mv=m&mvi=1&pcm2cms=yes&pl=24&lsparams=mip,mm,mn,ms,mv,mvi,pcm2cms,pl&lsig=AHylml4wRQIgZKPQcDhSxIEpUjMOteZ-MRZo1twFFtl42h0ujPHzx8YCIQDcapHv7sDO_RgMwH23rPawxKPeaSK4rSNiIgLl1mmwfQ==" type="video/mp4">
              
            Your browser does not support the video tag.
            </video>
          
  </div>
  <div class="row secondrow justify-content-around">
    
          <video  width="495" height="300" controls>
              <source src="movie.mp4" type="video/mp4">
              <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
            </video>
          <video  width="495" height="300" controls>
              <source src="movie.mp4" type="video/mp4">
              <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
            </video>  
     
          <!--<img width="495" height="300" src="/download.jpeg">-->
          
  </div>
</div>
